<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Symfony App on Deploio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <meta name="theme-color" content="">

  <style>
  body {
    background-color: #141d50;
    max-width: 40rem;
    margin: auto;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
     'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji',
     'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  }
  .logo {
    filter: invert(1);
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  </style>
</head>

<body>
  <h1 style="text-align:center">Symfony App</h1>
  <img class="logo" src="https://docs.nine.ch/img/theme/deploio.svg"></img>

  <h2>Storage Status</h2>
  <ul>
    <li>Database: {{ status.database ? '✅' : '❌' }}</li>
    <li>Key Value Store: {{ status.kvs ? '✅' : '❌' }}</li>
    <li>File Storage: {{ status.storage ? '✅' : '❌' }}</li>
  </ul>
</body>

</html>
